<h1>Productos en Tiempo Real</h1>
<ul id="listaProductos">
    {{#each products}}
    <li>{{this.title}} - {{this.price}} <button onclick="eliminarProducto('{{this.id}}')">Eliminar</button></li>
    {{/each}}
</ul>

<form id="formProducto">
    <input type="text" id="title" placeholder="Nombre del producto" required>
    <input type="number" id="price" placeholder="Precio del producto" required>
    <button type="submit">Agregar Producto</button>
</form>

<script>
    const socket = io();

    document.getElementById('formProducto').addEventListener('submit', function (e) {
        e.preventDefault();
        const title = document.getElementById('title').value;
        const price = document.getElementById('price').value;
        const product = { id: Date.now().toString(), title, price };

        socket.emit('nuevoProducto', product);
        this.reset();
    });

    socket.on('actualizarLista', (products) => {
        const listaProductos = document.getElementById('listaProductos');
        listaProductos.innerHTML = '';
        products.forEach((product) => {
            const li = document.createElement('li');
            li.innerHTML = `${product.title} - ${product.price} <button onclick="eliminarProducto('${product.id}')">Eliminar</button>`;
            listaProductos.appendChild(li);
        });
    });

    function eliminarProducto(productId) {
        socket.emit('eliminarProducto', productId);
    }
</script>